/*-- scss:defaults --*/

// ========================================================================
// HTML BASE THEME VARS
// ========================================================================

// Callouts
$callout-color-note: $brand-oneLight;
$callout-color-tip: $brand-twoLight;
$callout-color-warning: $brand-threeLight;
$callout-color-important: $brand-oneDark;
$callout-color-caution: $brand-threeDark;

// Code styling
$code-block-border-left: $brand-threeLight;

// ========================================================================
// RULES: only for custom visual effects / overrides
// ========================================================================

// Utility text classes
.highlight {
    color: $brand-threeDark;
    font-weight: bold;
}
.task {
    color: $brand-oneDark;
    font-weight: bold;
}
.question {
    color: $brand-greyer;
    font-weight: bold;
}
.light {
    color: $brand-oneLight;
}
.errors {
    color: $brand-threeDark;
    font-weight: bold;
}

// Animation effect for section headings
.flow {
    background-image: url("https://images.beyondsimulations.com/logo/main-web.png");
    background-size: 3840px 2160px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0% {
        background-position: left 384px top 216px;
    }
    100% {
        background-position: left 3456px top 1944px;
    }
}
