
/*-- scss:defaults --*/
$presentation-title-slide-text-align: left;

// fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// colors background
$background-color: #ffffff;

// theme colors
$theme-color-primary: #fe9a57;
$theme-color-secondary: #00389f;
$theme-color-tertiary: #D94F04;
$theme-color-quaternary: #F4E2DE;

// fonts colors
$font-color: #000000;
$font-color-inverted: $background-color;
$font-color-loud: $theme-color-secondary;

// colors
$body-bg: $background-color;
$body-color: $font-color;
$link-color: $theme-color-tertiary;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;

// line height
$presentation-line-height: 1.5 !default;
$presentation-heading-line-height: 1.5 !default;

/*-- scss:rules --*/

.reveal .title {
  background-color: $theme-color-primary;
}

.title-slide.title {
  background-color: $theme-color-quaternary !important;
}

.highlight {
  color: $theme-color-primary;
  font-weight: bold;
}

.task {
  color: $theme-color-secondary;
  font-weight: bold;
}

.question {
  color: $theme-color-tertiary;
  font-weight: bold;
}

.light {
  color: $theme-color-quaternary;
}

.invert-font {
  color: $font-color-inverted;
  background-color: #000000;
  border-width: 5px;
  border-radius: 0px;
  border-color: #000000;
  border-style: solid;
}

.loud-slide {
  background-color: $theme-color-primary !important; 
  color: $font-color-loud !important;
  font-weight: bold !important;
}

.flow {
  background-image: url("https://images.beyondsimulations.com/logo/image_applied-optimization.png");
  background-size: 3840px 2160px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 384px top 216px;
  }
  100% {
    background-position: left 3456px top 1944px;
  }
}